/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes header__treangle {
  0% {
    transform: translate(0px);
  }

  50% {
    transform: translate(4px);
  }
}

@keyframes icon__heart {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes icon__sparks {
  0% {
    fill: #ff0000;
  }

  100% {
    fill: none;
  }
}

@keyframes icon__hover__effect {
  1% {
    fill: var(--color-accent);
  }

  99% {
    animation-play-state: paused;
  }

  100% {
    fill: var(--color-accent);
  }
}
