/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes header__treangle {
  0% {
    transform: translate(0px);
  }

  50% {
    transform: translate(4px);
  }
}

@keyframes icon__heart {
  0% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes icon__sparks {
  0% {
    fill: var(--color-heart-pressed);
  }

  100% {
    fill: none;
  }
}

@keyframes icon__hover__effect {
  1% {
    fill: var(--color-accent);
  }

  99% {
    animation-play-state: paused;
  }

  100% {
    fill: var(--color-accent);
  }
}

.like-icon .heart .core {
  transition-property: fill;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

.like-icon .heart .main-body {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.05s;
}

.like-icon .heart .sparks {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
}

.like-icon:hover .heart .main-body {
  fill: var(--color-accent);
  /* задержка 0.05s */
}

.like-icon:hover .heart .core {
  /* animation: icon__hover__effect 2s linear forwards; */
  fill: var(--color-accent);
  /* без задержек */
}

.like-icon:active .heart .main-body {
  fill: var(--color-heart-pressed);
  /* задержка 0.05s */
}

.like-icon:active .heart .core {
  fill: var(--color-heart-pressed);
  /* без задержек */
}

.like-icon.is-liked .core {
  fill: var(--color-heart-pressed);
}
.like-icon.is-liked .main-body {
  fill: var(--color-heart-pressed);
}
.like-icon.is-liked .contour {
  fill: var(--color-heart-pressed);
}

.like-icon.is-liked:hover .core {
  fill: var(--color-heart-pressed);
}

.like-icon.is-liked:hover .main-body {
  fill: var(--color-heart-pressed);
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation-name: icon__heart;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
}
.like-icon {
  transform-origin: center center;
}
.like-icon.is-liked .sparks {
  transform-origin: center center;
  animation-name: icon__sparks;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
}
