/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-weight: var(--font-variation-settings-weight-text);
  background-color: var(--color-background);
  color: var(--color-accent);
  background-image: var(--background-gradient-inline),
    var(--background-gradient-block), var(--background-gradient);
  background-size: cover;
  position: relative;
}

.part {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.header {
  padding-block: 100px;
}

.header__conteineer {
  width: var(--size-content);
  background-color: var(--color-background);
  font-family: var(--font-accent);
  text-align: center;
  padding-block-start: clamp(120px, 20%, 136px);
  padding-inline: clamp(0px, 0px, 120px);
  border: 2px solid var(--color-accent);
}

.header__logo__title {
  font-size: clamp(2.9375rem, 2.5048rem + 1.5vw, 4.0625rem);
  padding-block-end: 20px;
  display: block;
}

.header__logo__subtitle {
  font-size: clamp(0.875rem, 0.6rem + 0.878vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu {
  padding-block-start: 25px;
  padding-block-end: 15px;
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  transform: translateX(9px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.theme-menu__button {
  margin-block-end: 10px;
  padding: 0px 25px;
  position: relative;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  text-transform: uppercase;
}

.theme-menu__button span {
  font-size: 14px;
  position: relative;
  padding-bottom: 3px;
}

.theme-menu__button span::after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0.6;
  background-color: var(--color-accent);
  transition-property: width opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus-visible span::after {
  width: 100%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: 0;
  opacity: 0.6;
  animation-name: header__treangle;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.card {
  width: var(--size-content);
  background-color: var(--color-background);
  border: 2px solid var(--color-accent);
  display: flex;
  flex-direction: column;
  margin-block-end: 49px;
}

.card__title {
  padding-block: 5px;
  font-variation-settings: 'wght' var(--font-variation-settings-weight-subtitle);
  font-size: 18px;
  border-bottom: 2px solid var(--color-accent);
  padding-left: 10px;
  margin-inline-start: 0px;
}

.card__image__containeer {
  position: relative;
  display: grid;
  size: 100%;
}

.card__image {
  inline-size: 100%;
  height: clamp(371px, 100%, 696px);
  object-fit: cover;
  object-position: center;
}
/* двойная вложенность реализована из-за того, что мне нужно изменять один класс card__image в каждой карточке, с помощью card nth-child(2) перебираю карточки и применяю в каждой у фото разные фильтры */
.card:nth-child(2) .card__image {
  filter: var(--card-filter-grayscale);
}

.card:nth-child(3) .card__image {
  filter: var(--card-filter-saturate);
}

.card:nth-child(4) .card__image {
  filter: var(--card-filter-hue);
}

.card:nth-child(5) .card__image {
  filter: var(--card-filter-invert);
}

.card:nth-child(6) .card__image {
  filter: var(--card-filter-sepia);
}

.card:nth-child(7) .card__image {
  filter: var(--card-filter-blur);
}

.card:nth-child(8) .card__image {
  filter: var(--card-filter-multi);
}

.card__text:nth-of-type(1) {
  border-top: 2px solid var(--color-accent);
  padding: 26px 25px 0px 25px;
  margin: 0px;
}

.card__image-lable {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-accent);
  top: 25px;
  right: 25px;
  opacity: 50%;
  text-shadow: 0px 0px 2px var(--color-background);
}

.card__text {
  margin-top: 27px;
  margin-inline: 25px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-variation-settings-weight-text);
}

.card__button__elemnets {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.card__icon-button {
  border: 2px solid transparent;
  height: 38px;
  width: 38px;
  padding-inline-start: 0px;
  padding-block-start: 0px;
  transform: translate(1px, 3px);
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--color-accent);
}

.card__button {
  font-family: var(--font-accent);
  font-size: 14px;
  border: 2px solid var(--color-accent);
  width: max-content;
  text-align: center;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  color: #000;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  position: relative;
  overflow: hidden;
}

.card__button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--color-button-background);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.card__like-button {
  text-transform: none;
  padding-block: 10px;
  padding-inline: 35px;
  align-self: end;
  margin: 25px 25px 25px 0px;
  display: flex;
}

.button__text {
  text-transform: none;
  mix-blend-mode: difference;
  color: var(--color-button);
  z-index: 1;
  display: flex;
  align-items: center;
  align-self: center;
}

.button__save {
  text-transform: none;
}

.card__button:hover::after {
  transform: translateX(0);
  color: var(--color-button);
}

.card__button:focus {
  outline: none;
}

.card__button:focus-visible {
  box-shadow: 2px 2px var(--color-accent);
}

.card__icon-heart {
  width: 42px;
  height: 42px;
}

.like-icon .heart {
  transform-origin: center center;
}

.footer__save {
  width: max-content;
  padding-block: 15.5px;
  padding-inline: 21px;
  display: flex;
  gap: 8px;
  margin-bottom: 100px;
}

.floppy__disk__icon {
  display: flex;
  mix-blend-mode: difference;
  color: var(--color-button);
  z-index: 1;
  width: 22px;
  height: 22px;
}

#dialog-id[open]::backdrop {
  background-color: rgb(0 0 0 / 0.5);
  z-index: 2;
}

#dialog-id[open] {
  width: clamp(341px, 50%, 353px);
  border: 2px solid var(--color-accent);
  padding: 30px;
  gap: 20px;
  background-color: var(--color-background);
  z-index: 3;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: start;
}

#dialog-id[open] .dialog__content {
  display: flex;
  font-family: var(--font-accent);
  gap: 30px;
}

.dialog__title {
  line-height: 21px;
  text-transform: uppercase;
  width: clamp(198px, 50%, 234px);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-accent);
  max-width: 234px;
}

#dialog-id form {
  width: 100%;
}

.dialog__button {
  display: flex;

  width: clamp(257px, 100%, 293px);
  padding: 12.5px;
}

.icon__dialog {
  transform-origin: center center;
  transform: translate(19px, 19px) scale(1.9);
  align-self: center;
  width: 40px;
  height: 40px;
}

@media (width <= 375px) {
  .header__conteineer {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .footer__save {
    flex-direction: column;
  }

  .floppy__disk__icon {
    align-self: center;
  }

  .card__image-lable {
    right: 13px;
  }
  #dialog-id[open] {
    padding-inline: 40px;
  }
}

@supports (-webkit-text-stroke: 1px var(--color-background)) {
  .card__image-lable {
    -webkit-text-stroke: 1px var(--color-background);
  }
}
