/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-accent: "PressStart2P", sans-serif;
  --font-main: "Inter-Variable", sans-serif;
  --font-variation-settings-weight-subtitle: 700;
  --font-variation-settings-weight-text: 400;
  --font-color: #000;

  --color-heart-background: #ffffff;
  --color-button-background: #000;
  --color-button: #ffffff;
  --color-background: #ffffff;
  --color-accent: #000000;
  --background-gradient-inline: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 2px,
    #d3d3d3 2px,
    #d3d3d3 4px
  );
  --background-gradient-block: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 2px,
    #d3d3d3 2px,
    #d3d3d3 4px
  );
  --background-gradient: linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-accent: "PressStart2P", sans-serif;
    --font-main: "Inter-Variable", sans-serif;
    --font-variation-settings-weight-subtitle: 785;
    --font-variation-settings-weight-text: 465;
    --font-color: #00cc14;

    --color-heart-background: #000000;
    --color-button-background: #00cc14;
    --color-button: #00cc14;
    --color-background: #000000;
    --color-accent: #00cc14;
    --background-gradient-inline: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      #000 2px,
      #000 4px
    );
    --background-gradient-block: repeating-linear-gradient(
      180deg,
      transparent,
      transparent 2px,
      #000 2px,
      #000 4px
    );
    --background-gradient: linear-gradient(180deg, #007f0c 0%, #004306 100%);
  }
}
