/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-accent: "PressStart2P", fantasy;
  --font-main: "Inter-Variable", sans-serif;
  --font-variation-settings-weight-subtitle: 700;
  --font-variation-settings-weight-text: 400;
  --font-color: #000;
  --color-heart-background: #ffffff;
  --color-button-background: #000;
  --color-button: #ffffff;
  --color-background: #ffffff;
  --color-accent: #000000;
  --gradient-color: #d3d3d3;
  --background-gradient-inline:  repeating-linear-gradient(to right, var(--gradient-color) 0 2px, transparent 2px 4px);
  --background-gradient-block:   repeating-linear-gradient(var(--gradient-color) 0 2px, transparent 2px 4px);
  --background-gradient: linear-gradient(#e7e7e7 .01%, #1a1a1a);
  --size-content: clamp(370px, 50%, 700px);
  --card-filter-grayscale: grayscale(0.5);
  --card-filter-saturate: saturate(350%);
  --card-filter-hue: hue-rotate(-335deg);
  --card-filter-invert: invert(0.7);
  --card-filter-sepia: sepia(80%);
  --card-filter-blur: blur(0.9rem);
  --card-filter-multi: blur(0.1rem) hue-rotate(79deg) sepia(40%) saturate(120%);
  --color-heart: none;
  --color-heart-main-body: var(--color-background);
  --color-heart-pressed: #ff0000;
}
